{% macro render_item(item, show_amount=False, show_form=False) %}

<div style="border-style: solid; border-color: black; margin: 5px; padding: 5px">
  <p>
    <span>Название: </span>
    <span style="color: blue">{{ item['prod_name'] }}</span>
    &nbsp;&nbsp;
    <span>Цена: </span>
    <span style="color: blue">{{ item['prod_price'] }}</span>
  </p>

  {% if show_amount %}
  <p>
    <span>Количество: </span>
    <span style="color: blue">{{ item['amount'] }}</span>
  </p>

  <p>
    <span>Итого: </span>
    <span style="color: red; font-weight: bold;">
        {{ item['prod_price'] * item['amount'] }}
    </span>
  </p>
  {% endif %}

  {% if show_form %}
  <div>
    <form action="{{ url_for('bp_basket.basket_menu') }}" method="POST">
      <input type="hidden" name="prod_id" value="{{ item['prod_id'] }}">
      <input style="color: red" type="submit" value="Купить">
    </form>
  </div>
  {% endif %}
</div>

{% endmacro %}
