<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Распределение пациентов</title>
    <link rel="stylesheet" href="{{ url_for('bp_patients.static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="patients-section">
        <h3 style="text-align: center">Пациенты без палаты</h3>

        {% if patients %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Паспорт</th>
                    <th>Город</th>
                    <th>Дата рождения</th>
                    <th>Диагноз</th>
                    <th>Дата поступления</th>
                    <th>Лечащий врач</th>
                    <th>Отделение</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    {% for row in patient %}
                        <td>{{ row }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="9">
                        <div style="display: flex; justify-content: flex-end;">
                            <form method="POST" action="{{ url_for('bp_patients.patients_menu') }}">
                                <select name="ward_id" required>
                                    <option value="">-- Выберите палату --</option>
                                    {% if available_wards %}
                                        {% for ward in available_wards %}
                                            {% if ward[4] == patient[8] %}
                                                <option value="{{ ward[0] }}">
                                                    {{ ward[4] }} - Палата №{{ ward[1] }}({{ ward[2] }}) ({{ ward[5] }}/{{ ward[3] }} занято)
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <option value="" disabled>Нет свободных палат</option>
                                    {% endif %}
                                </select>

                                <button type="submit" class="button button-assign"
                                        {% if not available_wards %}disabled{% endif %}>
                                    Назначить
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="empty-state">
            <h3>Нет пациентов без назначенной палаты.</h3>
        </div>
        {% endif %}


    </div>

    <div style="text-align: center; margin-top: 30px;">
        <a href="{{ url_for('main_menu') }}">В главное меню</a>
    </div>
</div>
</body>
</html>