<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запрос</title>
</head>
<body>
<div style="text-align: center;">
    <h2>{{ data[0] }}</h2>

    <form action="/query_result" method="post">
        <input type="hidden" name="query_id" value="{{ query_id }}">
            {% for key, value in data[1].items() %}
                <label for="{{ key }}">{{ value }}:</label>
                <input type="text" name="{{ key }}" id="{{ key }}">
            {% endfor %}

            <br><br>
        <input type="submit" value="Отправить">
    </form>
    <br>

    <a href="/query">К запросам</a><br>
    <a href="/">В главное меню</a>
</div>
</body>
</html>