<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Параметризованный запрос</title>
</head>
<body>
<div style="text-align: center;">
    <h2>Выберите параметризованный запрос:</h2>

    <form method="post" action="/query">
        <ul style="list-style-type: none; display: inline-block; text-align: left;">
            {% for query_id, info in types.items() %}
            <li>
                <label>
                    <input type="radio" name="query_id" value="{{ query_id }}">
                    {{ query_id }} — {{ info.title_form }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <br>

        <button type="submit">Выбрать</button>
    </form>
    <br>


    <a href="/">В главное меню</a>
</div>
</body>
</html>
