<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Параметризованный запрос</title>
</head>
<body>

<h2>Выберите параметризованный запрос:</h2>

<form method="post" action="/query">
    <ul style="list-style-type:none;">
        {% for query_id, info in types.items() %}
        <li>
            <label>
                <input type="radio" name="query_id" value="{{ query_id }}">
                {{ query_id }} — {{ info.title_form }}
            </label>
        </li>
        {% endfor %}
    </ul>

    <button type="submit">Далее</button>
</form>


<p><a href="/">Вернуться в главное меню</a></p>

</body>
</html>
