<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>
<body>
<div style="text-align: center;">
    <h2>Главное меню</h2>
    <br>

    <a href="/patients">Распределение пациентов</a>
    <br><br>

    <a href="/query">Работа с запросами</a>
    <br><br>

    <a href="/report">Работа с отчётами</a>
    <br><br>

    <a href="/exit">Выход из системы</a>
    <br><br>

    <p>Текущий пользователь: {{ user }}({{ user_role }})</p>
</div>
</body>
</html>